html{
    font-family: 'poppins', sans-serif;
    color: white;
}

body{
    background-color: var(--first-color);
}

/* MAIN */

.hero{
    background: url(../images/bg-desktop.svg) no-repeat;
    background-size: contain;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr) auto-fit;
    grid-template-areas: "preview information"
                         "preview social"
                         "footer footer";
    grid-template-rows: 1fr;
    grid-column-gap: 150px;
}

.hero .logo{
    position: absolute;
    left: 80px;
    top: 40px;
}

/* PREVIEW */

.preview{
    grid-area: preview;
}

.preview img{
    position: relative;
    top: 150px;
    left: 83px;
}

/* INFORMATION */

.information{
    grid-area: information;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    gap: 20px;
}

.information h1{
    font-weight: 600;
    font-size: 35px;
}

.information p{
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    width: 400px;
}

.information a{
    color: var(--first-color);
    background-color: white;
    padding: 10px;
    width: 160px;
    text-align: center;
    border-radius: 50px;
}

.information a:hover{
    color: white;
    border: solid 1px white;
    background-color: var(--first-color);
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

/* SOCIAL */

.social{
    grid-area: social;
    position: absolute;
    right: 150px;
    top: 630px;
}

.social ul{
    display: flex;
}

.social ul li{
    margin: 8px;
    font-size: 40px;
}

.social ul li a{
    color: white;
}
.social ul li a:hover{
    color: var(--second-color);
    transition: 0.3s ease-in-out;
}

/* FOOTER */

.footer{
    background-color: rgb(33, 33, 33);
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .base{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .base p{
    font-weight: 200;
    font-size: 10px;
    margin: 50px 0px ;
}

.footer .base p a{
    font-weight: 400;
    font-size: 16px;
    color: var(--second-color);
}

.footer .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .contact ul{
    display: flex;
}

.footer .contact ul li{
    margin: 0px 100px;
}

.footer .contact ul li a{
    color: white;
    font-size: 50px;
}

.footer .contact ul li a:hover{
    color: var(--second-color);
    transition: 0.3s ease-in-out;
    font-size:40px;
}

.footer .contact .redes{
    display: flex;
}

.footer .contact .redes p{
    margin: 10px 65px;
    font-weight: 400;
    font-size: 16px;
}
